@font-face {
  font-family: 'Inter';
  font-style: oblique 0deg 10deg;
  font-weight: 100 900;
  font-display: swap;
  src: url(./Inter-VariableFont_slnt,wght.ttf) format('truetype');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+0304, U+0308, U+0329, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}


body {
  font-family: Inter, sans-serif;
  font-style: normal;
}

.headline{
  font-size: 1.625rem;
  font-weight: 800;
  line-height: normal;
  letter-spacing: 0.065rem;
}

strong {
    font-weight: 700;
}

i, em{
  font-variation-settings: 'slnt' 10;
  font-style: italic;
}

.text a{
    text-decoration: underline;
    color: var(--orange);
}

p{
    margin-bottom: 0.5rem;
}


